@page "/app"
@inject Services.SignalRConnector Connector
@inject NavigationManager Navigator
<div class="container">
    <h1>SignalR testing tool! (Hub status: @Connector.Hub.State.ToString())</h1>
    <EditForm Model="@model" OnValidSubmit="SubmitAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="address">Method name</label>
            <InputText class="form-control" id="address" aria-describedby="addressHelp" placeholder="callGhost"
                @bind-Value="model.MethodName" />
        </div>
        <div class="form-group">
            <label for="address">Parameters</label>
            <InputTextArea class="form-control" id="address" aria-describedby="addressHelp"
                placeholder='{"id": 1, "name": "John Snow"}' @bind-Value="model.DataText" />
        </div>
        <small class="form-text text-success">@message</small>
        <small class="form-text text-danger">@error?.Message</small>
        @if (error != null)
        {
            <a href="" @onclick:preventDefault @onclick="SeeDetail">Details</a>
        }
        @if (seeDetail)
        {
            <small class="form-text text-danger">@GetDetail()</small>
        }
        <button type="submit" class="btn btn-primary">Invoke</button>
    </EditForm>
</div>
@code{
    Models.Message model = new Models.Message();
    Exception error;
    string message;
    bool seeDetail;
    private Task OnClosed(Exception e)
    {
        error = e;
        return Task.CompletedTask;
    }
    private async Task SubmitAsync()
    {
        error = await Connector.Invoke(model);
        if (error != null)
        {
            message = "OK";
        }
        else
        {
            message = string.Empty;
        }
    }
    private void SeeDetail()
    {
        seeDetail = !seeDetail;
    }
    string GetDetail()
    {
        return error?.StackTrace;
    }
}