@page "/"
@inject Services.SignalRConnector Connector
@inject NavigationManager Navigator
<div class="container">
    <h1>SignalR testing tool!</h1>
    <EditForm Model="@model" OnValidSubmit="SubmitAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="address">Address</label>
            <InputText  class="form-control" id="address" aria-describedby="addressHelp"
                placeholder="http://localhost:5000/signalrhub" @bind-Value="model.Url" />
            <small id="addressHelp" class="form-text text-danger">@error</small>
        </div>
        <button type="submit" class="btn btn-primary">Connect</button>
    </EditForm>
</div>
@code{
    Models.Server model = new Models.Server();
    string error;
    private async Task SubmitAsync()
    {
        error = await Connector.Connect(model.Url);
        if (string.IsNullOrEmpty(error))
        {
            Navigator.NavigateTo("/app");
        }
    }
}
